.hm-mute-pulldown {
  position: absolute;
  z-index: 10000;
  display: block;
  width: 269px;
  font-size: 0.85rem;
  background-color: #f6f7f8;
  border-radius: 5px;
  outline: 1px solid #b6b6b7;
}

.hm-mute-pulldown-item {
  padding: 12px;

  &:hover {
    background-color: #ebeced;
  }
}
