.display-none {
  display: none !important;
}

.ng-urls-matched {
  display: none;
}

.ng-words-matched {
  display: none;
}

.mute-button {
  --size: 22px;

  position: absolute;
  top: 14px;
  right: 37px;
  display: block;
  width: var(--size);
  height: var(--size);
  margin-left: auto;
  background-size: var(--size) var(--size);

  .style-list & {
    top: 8px;
    right: 37px;
  }

  .style-headline & {
    top: 14px;
    right: 37px;
  }
}

.mute-pulldown {
  position: absolute;
  z-index: 10000;
  display: block;
  width: 269px;
  font-size: 0.85rem;
  background-color: #f6f7f8;
  border-radius: 5px;

  div {
    padding: 12px;

    &:hover {
      background-color: #ebeced;
    }
  }
}
