.display-none {
  display: none !important;
}

.ng-urls-matched {
  display: none;
}

.ng-words-matched {
  display: none;
}

.mute-button {
  --button-size: 28px;
  --image-size: 22px;

  position: absolute;
  top: 11px;
  right: 37px;
  display: block;
  width: var(--button-size);
  height: var(--button-size);
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--image-size) var(--image-size);

  &:focus {
    outline: none;
  }

  .style-list & {
    top: 5px;
    right: 37px;
  }

  .style-headline & {
    top: 11px;
    right: 37px;
  }
}

.mute-pulldown {
  position: absolute;
  z-index: 10000;
  display: block;
  width: 269px;
  font-size: 0.85rem;
  background-color: #f6f7f8;
  border-radius: 5px;

  div {
    padding: 12px;

    &:hover {
      background-color: #ebeced;
    }
  }
}
