.lightens-visited-entry {
  // .visited:not(:global .following-bookmark-popup) {
  .visited {
    opacity: 0.5;

    [data-entry-id] {
      // opacity かけるとタイトルだけ薄くなりすぎるので、未訪問と同じ色にする
      &:visited {
        color: #25282b;
      }

      &:hover {
        color: #7db4e8;
      }
    }
  }
}
