.hm-mute-button {
  --button-size: 28px;
  --image-size: 22px;

  position: absolute;
  top: 11px;
  right: 37px;
  display: block;
  width: var(--button-size);
  height: var(--button-size);
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--image-size) var(--image-size);

  [data-entrylist-layout='list'] & {
    top: 5px;
  }

  &:focus {
    outline: none;
  }
}
